<!doctype html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.5.3/angular-route.min.js"></script>
    <script src="/static/libs/jquery-3.1.0.min.js"></script>
    <script src="/static/libs/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" />
    <!-- Latest compiled and minified CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="/static/js/app.js"></script>
    <title>Icy Polar Opposites</title>
</head>
<body ng-app="myApp">
    <div ng-controller="MainController" >
        <div>
<!--			<div class="row">
				<h1>Stupid server test</h1>
				<form class="form-inline">
					<div class="form-group">
						<input type="text" class="form-control" id="searchInput" placeholder="Search" ng-model="searchPhrase">
					</div>
					<button type="submit" class="btn btn-default" ng-click="submit()">Fake search</button>
				</form>
				<p>{{response}}</p>
			</div>-->
            <div>
                <canvas id='planetCanvas'></canvas>
            </div>
        </div>
    </div>

    <script type='text/javascript' src="/static/libs/d3.v3.min.js"></script>
    <script type='text/javascript' src="/static/libs/topojson.v1.min.js"></script>
    <script type="text/javascript" src="/static/libs/planetaryjs.js"></script>

    <script type='text/javascript' src='/static/libs/moment.js'></script>
    <script type='text/javascript' src='/static/js/planet.js'></script>
    <div class="topleft">
        <h1>Polar Explorer</h1>
    </div>
    <div class="logoimg">
        <img class="img" src="/static/img/logo.png"/>
        <img class="img" src="/static/img/nasa.png"/>
        <img class="img" src="/static/img/caastro.png"/>
    </div>
</body>
</html>